<div class="container color-dark">
  <div class="col">
    <p>Sarvajeet Suman</p>
  </div>
  <div class="col">
    <p>Personal Details</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">
      <img src="assets/profile.jpg" alt="Sarvajeet Suman">
    </p>
  </div>
  <div class="col">
    <p class="life-container">
      Address:  J. P. Nagar, Bangalore, India
    </p>
    <p class="life-container">
      Mobile :  +91-9479937241 , +91-8651741800 
    </p>
    <p class="life-container">
      Email :  sarvajeetsuman@gmail.com 
    </p>
    <p class="life-container">
      Work Experience:<br>
      Mobisir Technologies Pvt. Ltd. (Sep 2016- Dec 2017)
    </p>
    <p class="life-container">
      Academic Qualification:<br>
      Indian Institute of Information Technology, Design & Manufacturing, Jabalpur
      (B.Tech in Computer Science) <br>
      Delhi Public School, Bokaro (HSC)
      <br>
      Netarhat Residential School (SSC)
    </p>
  </div>
</div>
